
 
 html{
	 font-size: 15px;
	 font-family: italic ;
	 font-weight: 300;
	 background-color: #A9A9A9
 }
	 h1 { 
	 font-size: 50px;
	 text-align: center;
	 width:
	 }
	 
	 
p, li{
		 font-size: 16px;
		 line-height: 3;
		 letter-spacing: 1,5px;
		 text-align: center
	 }
	  p {
	 color:red;
	 font-size: 50px;
	 text-align: center;
	 font-weight: bolder 
 }
 body {
	 width: 600px;
	 margin:0 auto;
	 padding: 0 20px 20px 20px 20px;
	 border: 70px solid white;
	 text-align: center
 }
 li {
	 text-align: left
 